<div class="feedback-form-container">
  <h2 class="feedback-form-title">Feedback Form</h2>
  
  <form (ngSubmit)="submitFeedback()" class="feedback-form">
    <div>
      <label for="email" class="feedback-label">Email</label>
      <input 
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        class="feedback-input"
      >
      <span class="feedback-error" *ngIf="emailValidation">{{ emailValidation }}</span>
    </div>

    <div>
      <label for="content" class="feedback-label">Feedback</label>
      <textarea
        id="content"
        name="content"
        [(ngModel)]="message"
        rows="4"
        class="feedback-textarea"
      ></textarea>
    </div>

    <button 
      type="submit"
      class="feedback-submit-button"
    >
      Submit
    </button>
  </form>
</div>
