<app-navbar></app-navbar>
<div [ngStyle]="{ 'background-image': 'url(' + imagePath + ')' }" class="background-container">
  <div class="login-container">
    <!-- Left side: Red background section -->
    <div class="login-left">
      <span class="login-left-text"></span>
    </div>

    <!-- Right side: Forgot Password form -->
    <div class="login-right">
      <div class="form-container">
        <h2 class="form-title">Forgot Password</h2>

        <form (ngSubmit)="onSubmit()" class="form">
          <!-- Email Input -->
          <div class="input-group">
            <label for="email" class="input-label">Email</label>
            <input
              type="text"
              id="email"
              placeholder="Enter Email"
              required
              [(ngModel)]="email"
              name="email"
              class="input-field"
            />
            <span class="input-error" *ngIf="emailValidation">{{ emailValidation }}</span>
          </div>

          <!-- Password Input -->
          <div class="input-group">
            <label for="password" class="input-label">Password</label>
            <input
              type="password"
              id="password"
              placeholder="Enter your password"
              required
              [(ngModel)]="newPassword"
              name="password"
              class="input-field"
            />
            <span class="input-error" *ngIf="passwordValidation">{{ passwordValidation }}</span>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn-submit">
            Change Password
          </button>

          <!-- Back to Login Link -->
          <div class="back-to-login">
            <p [routerLink]="'/login'" class="back-to-login-link">
              Back To Login
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
